## Ignore Visual Studio temporary files, build results, etc.

# User-specific files
*.suo
*.user

# Build results
bin/
RapidFireServer/lib/

# Visual Studo 2015 cache/options directory
.vs/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx