## Ignore Visual Studio temporary files, build results, etc.
*.pdb

# User-specific files
*.suo
*.user

# Build results
build/
RapidFire/lib/
RapidFire/bin/
Samples/bin/

# Visual Studo 2015 cache/options directory
.vs/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.db
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.cxlovr

# Files produced by RapidFire
*.log
RGBA8_frame_*.rgb
*.h264
*.obj
*.tlog
*.idb
*.dll
*.clbin
*.ilk
*.iobj
*.opendb
*.ipdb
*.clbin
*.clbin64